html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #060c21;
}

header {
    width: 100%;
}

.main {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.memory {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transition: all 700ms;
    cursor: pointer;
    z-index: 1;
}

.memory:hover {
    width: 30px;
    height: 30px;
    z-index: 2;
}

.memoryInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: shine 4s infinite;
}

.memoryID {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 10px;
    opacity: 0;
}

.memoryID:hover {
    opacity: 1;
}

.background {
    position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.mainMemory {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    box-shadow: inset 100px -100px 50px #FCF49C;
    animation: fadeIn 2s;
}

.iframe {
    width: 40%;
    height: 50%;
    animation: jump 5s infinite;
    pointer-events: none;
}

.btnGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yesBtn {
    border-radius: 10%;
    margin-right: 5px;
    background-color: #5CCCFC;
    cursor: pointer;
}

.yesBtn:hover {
    background-color: #247AE1;
}

.noBtn {
    border-radius: 10%;
    margin-left: 5px;
    background-color: #FC0404;
    cursor: pointer;
}

.noBtn:hover {
    background-color: #CC040C;
}


/*动画*/
@keyframes shine {
    0% {
        box-shadow: 0 0 100px 12px #FFFFFF;
    }
    50% {
        box-shadow: 0 0 100px 12px #F7850C;
    }
    100% {
        box-shadow: 0 0 100px 12px #FFFFFF;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.2;
    }
    30% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.5;
    }
    60% {
        opacity: 0.6;
    }
    70% {
        opacity: 0.7;
    }
    80% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

@keyframes jump {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -20px);
    }
    100% {
        transform: translate(0, 0);
    }
}
