/*derive from main css*/

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #060c21;
}

.bg{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.ball {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FCF9F0;
    transition:all 3s;
    /*animation: change 5s infinite, ballShine 5s infinite;*/
    /*zoom: 0.2;*/
}

.ballInner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FCF9F0;
    animation: change 5s infinite, ballShine 5s infinite;
    /*opacity: 0;*/
}

.centerBallInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #FCF9F0;
    animation: ballShine 5s infinite;
}

.sourceHTML{
    width: 40%;
    height: 60%;
    animation: shakeHead 4s infinite;
    border: 0;
}

.btnGroups{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 4px;
}

.yesBtn{
    text-align: center;
    border-radius: 10%;
    background-color: #05A9E4;
    padding: 4px;
    margin: 5px;
    cursor:pointer;
}
.yesBtn:hover{
    background-color: #2F63AD;
}

.exitBtn{
    text-align: center;
    border-radius: 10%;
    background-color: #F31E23;
    padding: 4px;
    margin: 5px;
    cursor:pointer;
}

.exitBtn:hover{
    background-color: #9C0404;
}

@keyframes change {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes ballShine {
    0% {
        box-shadow: 0 0 100px 12px #fff, inset 12.5px -12.5px 80px #fdff17;
    }
    50% {
        box-shadow: 0 0 100px 12px #ff6633, inset 12.5px -12.5px 80px #fdff17;
    }
    100% {
        box-shadow: 0 0 100px 12px #fff, inset 12.5px -12.5px 80px #fdff17;
    }
}

@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 0.1;
    }
    20%{
        opacity: 0.2;
    }
    30%{
        opacity: 0.3;
    }
    40%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    60%{
        opacity: 0.6;
    }
    70%{
        opacity: 0.7;
    }
    80%{
        opacity: 0.8;
    }
    90%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}

@keyframes shakeHead {
    0%{
        transform: translate(0,0);
    }
    50%{
        transform: translate(0,20px);
    }
}


/*搜索框*/

.search{
    width: 30%;            
    margin: 10px auto;
    display: flex;
}
.search input{
    float: left; /*左浮动*/
    flex: 4;
    height: 40px;
    outline: none;
    border: 1px solid #c4d0f0;
    color: #fff;
    background-color: #060c21;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box; /*盒子模型，怪异IE盒子模型，width=content+border*2+padding*2*/
    padding-left: 10px;
}
.search button{
    float: right;
    flex: 1;
    height: 40px;
    border: 1px solid #c4d0f0;
    background-color:#01113d;
    color: white;
    border-style: none;
    outline: none;
}
.search button i{
    font-style: normal;
    color: #fff;
    font-size: 16px;
}
.search button:hover{
    font-size: 26px;
}

/****
.search-box{    
    position: absolute;    
    top:50%;    
    left:50%;    
    transform: translate(-50%,-50%);    
    background: #2f3640;  
    height: 40px;    
    border-radius: 40px;    
    padding: 10px;
}
.search-box:hover>.search-txt{    
    width: 240px;    
    padding: 0 6px;
}
.search-box:hover>.search-btn{   
    background:white;

}
.search-btn{    
    color: #e84118;    
    float: right ;    
    width: 40px;    
    height: 40px;    
    border-radius: 50%;    
    background: #2f3640;    
    display: flex;    
    justify-content: center;    
    align-items: center;
}
.search-txt{    
    border: none;    
    background: none;    
    outline: none;    
    float: left;    
    padding: 0;    
    color: white;    
    font-size: 16px;    
    transition: 0.4s;    
    line-height: 40px;    
    width: 0px;
}
*****/
.header{
    margin:0 auto;
}

#balls{
    margin: 0 auto; 
}