img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

div.top {
    width: 90%;
    height: 10%;
    position: fixed;
    top: 0%;
}

div.remember {
    width: 900px;
    height: 90%;
    position: fixed;
    top: 15%;
    left: 20%;
    right: 20%;
    animation: fade-in;
    animation-duration: 1.5s;
    -webkit-animation:fade-in 1.5s;
}

div.remember-button {
    position: relative;
    float: right;
    background-color: black;
}

input {
    background-image: url("../static/btn.png");
    width: 35px;
    height: 35px;
    border:0;
}

div.remember-img {
    position: relative;
    float: left;
    width: 400px;
    height: 500px;
}

div.content {
    position: relative;
    float: left;
    background-color: black;
    width: 500px;
    height: 500px;
    font-size: 20px;
    font-family: 华文行楷;
    color: white;
}

div.share {
    position: absolute;
    top: 370px;
    left: 70px;
    width: 500px;
    height: 35px;
    font-size: 22px;
    font-family: 宋体;
    color: darkgray;
}

p.font-set {
    position: relative;
    top: 5%;
    left: 5%;
    font-size: 24px;
    font-family: 华文行楷;
    color: white;
    white-space:pre-wrap;
    line-height: 140%;
}

a {
    float: left;
    padding: 15px;
}


body {
    background-image: url("../static/背景2.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center;
}

@keyframes fade-in {
    0% {opacity: 0;}
    10% {opacity: 10%;}
    20% {opacity: 20%;}
    30% {opacity: 30%;}
    40% {opacity: 40%;}
    50% {opacity: 50%;}
    60% {opacity: 60%;}
    70% {opacity: 70%;}
    80% {opacity: 80%;}
    90% {opacity: 90%;}
    100% {opacity: 100%;}
}
@-webkit-keyframes fade-in {
    0% {opacity: 0;}
    10% {opacity: 10%;}
    20% {opacity: 20%;}
    30% {opacity: 30%;}
    40% {opacity: 40%;}
    50% {opacity: 50%;}
    60% {opacity: 60%;}
    70% {opacity: 70%;}
    80% {opacity: 80%;}
    90% {opacity: 90%;}
    100% {opacity: 100%;}
}